.bottombar ul {
    list-style-type: none;
}
.bottombar *{
    text-decoration: none;
}
.bottombar li{
    position: relative;
    float: left;
    margin: 30px;
    opacity: 0.7;
}

@media screen and (max-width: 600px){
    .whereTogo {
        display: none;
    }
    .bottombar li{
        margin-left: 5%;
        opacity: 0.7;
    }
}