.bar ul {
    list-style-type: none;
    margin-left: 1%;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 98%;
    background-color: rgba(00, 00, 00, 0.6);
    border-radius: 6px;

}

.bar li a {

    float: left;
    z-index: 1;
      position: relative;
      font-size: inherit;
      font-family: inherit;
      color: white;
      padding: 1em;
      margin: 10px;
      outline: none;
      border: none;
      background-color: rgba(00, 00, 00, 0);
      border-radius: 6px;

      overflow: hidden;
      transition: color 0.4s ease-in-out;
    text-decoration: none;
}

.bar li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.bar li a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.bar li.bar-main a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}


.bar li.bar-main a:hover {
cursor: pointer;
  color: #161616;
}

.bar li.bar-main a:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}


.readme {
  margin-top: 120px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.readme h1 {
  margin-bottom: 100px;
}