.bar{
  transition: all .3s;
}
.bar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 0;
    top: 10px;
    left: 0;
    right: 0;
    margin:0 auto;
    width:98%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .28);
    background-color: #EBDFE5;
    border-radius: 15px;
    z-index : 1;
    transition: all .5s;

}

.bar ul.bar-active {
    opacity: 0.7;
}

.bar li a {

    float: left;
    z-index: 2;
      position: relative;
      font-size: inherit;
      font-family: inherit;
      color: #54463f;
      padding: 1em;
      margin: 10px;
      outline: none;
      border: none;
      border-radius: 6px;

      overflow: hidden;
      transition: color 0.4s ease-in-out;
    text-decoration: none;
}

.bar li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #54463f;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.bar li a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.bar li.bar-main a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #54463f;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}


.bar li.bar-main a:hover {
cursor: pointer;
  color: white;
}

.bar li.bar-main a:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}


.readme {
  margin-top: 120px;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.readme h1 {
  margin-bottom: 60px;
}




@media screen and (max-width: 600px) {
  .bar {
    transition: all .5s;
    display: none;
  }
  .readme {
    margin-top: 65px;
  }
}



.noadd {
  display: none;
  transition: .1s all;
  width: 100%;
  position: relative;
  height: 80px;
  margin-bottom: 10px;
}

.noadd.active {
  display: inline-block;
}

.noadd span {
  font-size: 20px;
	letter-spacing: 3px;
  position: absolute;
  animation: tag-entering 0.5s ease-in-out;
  border: none;
  display: inline-block;
  white-space: normal;
  transform-origin: center left;
}


@keyframes tag-entering {
  0% {
      transform: translateY(-10px);
      opacity: 0;
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}


@media screen and (max-width: 600px){
.noadd span {
  font-size: 18px;
  letter-spacing: 2px;
}
}



@keyframes onReadyblur {
  0% {
    opacity: 0;
    filter: blur(30px);

  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
  
}
.maincontainer {
  animation: onReadyblur 3.5s cubic-bezier(.19, 1, .22, 1);
}